project-job-hunter/backend/target/classes/vn/demo/jobhunter/util/error/IdInvalidException.class
project-job-hunter/backend/target/classes/vn/demo/jobhunter/util/error/GlobalException.class
project-job-hunter/backend/target/classes/vn/demo/jobhunter/util/error/PermissionException.class
project-job-hunter/backend/target/classes/vn/demo/jobhunter/util/error/StorageException.class
**/target/
*.class
**/target/
*.class
project-job-hunter/frontend/node_modules/
project-job-hunter/backend/target/

.env
.env.local
.DS_Store
